[submodule "libs/SDL"]
	path = libs/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = release-3.2.x


[submodule "libs/SDL_image"]
	path = libs/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
